h1{
  font-size: 46px;
  color:yellow;
  line-height: 0.4;
}
h2{
  font-size: 36px;
  line-height: 0.4;
  color:rgb(0, 0, 0);
}
h3{
  font-size: 36px;
  color:yellow;
  
}

p{
  color:white;

}
button{
  padding: 14px 40px;
  background-color: rgb(255, 234, 0);
  border: none;
  border-radius: 2px;
  box-shadow: 0px 0px 2px 0px black;
}
header{
  display: flex;
  background-color: aqua;
  justify-content: center;
  /* width: 70%; */
}
header section{
 display: flex;
 justify-content: space-between;
 width: 70%;
}
header img{
  width: 200px;
  height: 100px;
}
nav ul{
  display: flex;
  width:100%;
  
}
nav ul li{
  list-style: none;
  padding: 20px;
}

main{
  background-color: rgb(22, 68, 22);
  display: flex;
  justify-content: center;
  align-items: center;
}
main section{
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items:center;
  height: 400px;

}
main section article{
  width: 50%;
  
  
}
.para p{
  color:black;
  line-height: 1;

}
.para{
  color:black;
  line-height: 0.5;
}
.top p{
  color:black;
  font-size: 20px;
  font-weight: bolder;
}
article .hero {
  display: flex;
  
  justify-content: end;
  margin-bottom: -100px;
}
.chicago{
  margin: 70px 0px;
  /* background-color: aqua; */
  /* width: 80%; */
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.chicago div{
  width: 70%;

}
.card-title{
  display: flex;
  width: 100%;
  /* background-color: aquamarine; */
  justify-content: space-between;
  align-items: center;
}
.card-title div.btn{
  display: flex;
  justify-content: end;
}
.box-model{
  display: grid;
  grid-template-columns: 32.3% 32.3% 32%;
  grid-gap: 20px;
  width: 100%;
  
}
.box-model article{
  background-color: rgb(237, 237, 237);
  
}
.box-model article .box-image{
  width: 100%;
  
}
.box-model article .box-image img{
  width: 100%;
  aspect-ratio: 3/2;
}
.box-model article .box-body{
  max-width: 360px;
  width: 100%;
  /* background-color: aquamarine; */
  padding-left: 10px;
  padding-right: 10px;
  flex-wrap: wrap;
  
}
.box-model article .box-body > div{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.footer{
  background-color: black;
  text-align: center;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sidebar{
 width: 30%;
}

